@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  font-size: 12px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
}

body {
  height: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.just-start {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content {
  height: 1000px;
  margin-bottom: 50px;
}

.card-container {
  position: relative;
  height: 1000px;
}

.box-image {
  height: 80px;
  display: block;
  position: absolute;
  z-index: 3;
  top: -40px;
  left: -130px;
}

.card {
  position: relative;
  top: 150px;
  background-color: white;
  width: 330px;
  border-radius: 20px;
  z-index: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.card-image {
  position: relative;
}

.card-image-main {
  display: block;
  position: absolute;
  width: 250px;
  z-index: 2;
  top: -115px;
  left: -125px;
}

.card-image-main-bg {
  position: absolute;
  top: -10px;
  left: -120px;
  z-index: 1;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 100px 0 20px 0;
}

.card-text .faq-container {
  padding: 0 20px 20px 20px;
}

.card-text .faq-container h1 {
  font-size: 30px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 20px 0;
  color: #1d1e35;
}

.question-container {
  width: 290px;
  font-weight: 400;
  padding: 10px 0 20px 0;
  cursor: pointer;
  color: #4a4b5e;
}

.question-container .answer {
  display: none;
}

.question-container:hover .question {
  color: #f47c57;
}

.question {
  font-size: 14px;
}

.question-btn {
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.active {
  font-weight: 700;
  color: #1d1e35;
}

.active .answer {
  margin-top: 10px;
  font-weight: 400;
  display: block;
  line-height: 16px;
  color: #787887;
}

.active .question-btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e7e7e9;
}

.attribution {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 800px) {
  .main-content {
    height: 100%;
  }
  .card-container {
    height: 100%;
  }
  .box-image {
    height: 184px;
    top: -50px;
    left: -110px;
  }
  .move-box {
    left: -150px;
  }
  .card {
    width: 900px;
    height: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-image-main {
    width: 450px;
    top: -175px;
    left: -75px;
  }
  .card-image-main-bg {
    width: 300px;
  }
  .card-text {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 20px;
    width: 500px;
    margin: 0;
  }
  .card-text .faq-container {
    width: 400px;
    margin-right: 50px;
  }
  .card-text .faq-container h1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .question-container {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */