@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  font-size: 12px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  overflow: auto;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.just-start {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content {
  height: 100%;
  margin-bottom: 50px;
}

.card-container {
  position: relative;
}

.box-image {
  display: none;
}

.card {
  position: relative;
  top: 80px;
  background-color: white;
  width: 330px;
  border-radius: 20px;
  z-index: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.card-image {
  position: relative;
}

.card-image-main {
  display: block;
  position: absolute;
  width: 250px;
  z-index: 2;
  top: -115px;
  left: -125px;
}

.card-image-main-bg {
  position: absolute;
  top: -10px;
  left: -120px;
  z-index: 1;
}

.card-text {
  width: 100%;
  margin: 100px 0 20px 0;
}

.card-text h1 {
  text-transform: uppercase;
}

.card-text .faq-container {
  margin-top: 30px;
  padding: 20px;
}

.question-container {
  width: 290px;
  font-weight: 400;
  padding: 10px 0 20px 0;
  cursor: pointer;
  color: #4a4b5e;
}

.question-container .answer {
  display: none;
}

.active {
  font-weight: 700;
  color: #1d1e35;
}

.active .answer {
  margin-top: 10px;
  font-weight: 400;
  display: block;
  line-height: 16px;
  color: #787887;
}

.question {
  font-size: 14px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e7e7e9;
}

.attribution {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */